
@import "popup.css"; /* Using a string */

/*
element {
  --m-sidebar-width: 20%;
}
*/

body
{

  height: 100%;
  color:#ffffff;
  font-weight: 300;  
  background-color: #000000;
  
}

#main-panel
{
	height: 100%;
    width: calc(100% - 180px);
	margin-left: 165px;
	background-color: #000000;
}


#side-panel
{
   display:     block;
    position:   absolute;
   width:       315px;
    top:        0px;
    left:       0px;
   position:    fixed;
   background-color:   #3498d8; 
   border: 0px solid red;
   height: 100%;
   z-index: 900;
}

#side-panel-wrapper
{
    width: 265px;
    margin: 0 auto;
    margin-top: 25px;
    
}

.side-panel-description{
  margin-bottom: 12px;
  
}


#wrapper 
{
    background-color: #000000;
   /*background: #3498d8;*/
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px solid green;

}

#leafmap {
    height: calc(100vh - 0px) !important;
    width: calc(100vw - 315px) !important;
    display: block;
    margin-left:135px;
}


.search-button {
    float: right;

}

  .selectize-input { 
   
 }

.leaflet-tooltip-pane{
  font-weight: bold;
}

/*
#inSubActionSelector{
  display: block !important;
  
}
*/
#title {
  background-image: url('images/save-the-sound-title-06.png');
  background-size: cover;
  min-height:80px;
  width:100%;
  
}
#title-image {
    width: 234px;
    height: 81px;
    display: block;
    border: 2px solid #000000;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 20px;
    /*width: 265px;*/
}

p {
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto;
    /*width: 265px;*/
    margin-top:20px;
    text-align: just;
}

.btn {
    color: #ffffff;
    background-color: #005984;
    border: 0px solid #ffffff;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 0px;
    /*width: 100px;*/
    font-size: 11px;
    font-weight: bold;
}

.leaflet-popup{
  width:512px;
  
}

.description{
  margin-bottom: 12px;
  
}
.filters{
  font-weight: normal;
  margin-top: 30px;
  
}

/*START KEY OVERLAY*/
.key-overlay-container{
  position: absolute; 
  left: calc(50vw - 150px) !important;
  
}

.key-overlay{
  width:566px; 
  height:74px;
  background-color: #ffffff;
  position: absolute; 
  left: -25%;
  display:block;
  bottom: 26px;
   z-index: 800;
    margin: 0 auto;
   
    border:2px solid rgba(0,50,50,35%);
    border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}



.key-image{
   background-size: cover;
    background-image: url('images/key2.png');
    width:500px; 
    height:70px;
    float: right;
    display: inline-block;
     border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.key-text{
   width:60px; 
     
    float: left;
    display: inline-block;
    color: #000000;
    text-align: center;
    margin-top:25px;
    background-color: #ffffff;
    border:0px solid blue;
    font-weight:normal;
}

/*END KEY OVERLAY*/

/*START COMPASS OVERLAY*/
.compass-overlay-container{
 position: absolute; 
 right: 57px;
 bottom: 140px;
}
.compass-overlay{
  min-width: 72px;
  min-height: 82px;
  background-image: url('images/CompassRose.png');
  background-size: cover;
}

/*Changing Marker Cluster Color to Grey */

.leaflet-marker-icon.marker-cluster.marker-cluster-small.leaflet-zoom-animated.leaflet-interactive {
    width: 10px;
    height: 10px;
  background-color: rgb(224,225,231);
  }
.leaflet-marker-icon.marker-cluster.marker-cluster-small.leaflet-zoom-animated.leaflet-interactive div {
    width: 10px;
    height: 10px;
  background-color: rgb(224,225,231);
  }

.leaflet-marker-icon.marker-cluster.marker-cluster-medium.leaflet-zoom-animated.leaflet-interactive {
    width: 10px;
    height: 10px;
  background-color: rgb(224,225,231);
  }
.leaflet-marker-icon.marker-cluster.marker-cluster-medium.leaflet-zoom-animated.leaflet-interactive div {
    width: 10px;
    height: 10px;
  background-color: rgb(224,225,231);
  }

.leaflet-marker-icon.marker-cluster.marker-cluster-large.leaflet-zoom-animated.leaflet-interactive {
    width: 10px;
    height: 10px;
  background-color: rgb(224,225,231);
  }
.leaflet-marker-icon.marker-cluster.marker-cluster-large.leaflet-zoom-animated.leaflet-interactive div {
    width: 10px;
    height: 10px;
  background-color: rgb(224,225,231);
  }


/*END COMPASS OVERLAY*/

@media only screen and (max-width: 832px) {
  /* For mobile phones: */
/*  [class*="col-"] {
    width: 100%;
  }
  */
  body{
    font-size: 10px !important;
  }
  
  .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    
    
  }
  .form-control{
    width:80%;
  }
  
  #main-panel {
    left: 0px;
    width: 100%;
    
  }
  #side-panel {
      width: clamp(100px, 20%, 256px)!important;
     /* width: 20% !important;*/
      
  }
  #side-panel-wrapper{
     width: 100% !important;
     margin-left: 5%;
     margin-right: 5%;
  }
  .side-panel-description{
    width: 90%;
    
  }
   #leafmap {
      width:80% !important;
      margin-left:20%;
      /*margin-left: var(--m-sidebar-width) ;
      */
  }
   #main-panel {
      margin-left: 0%;
      /*margin-left: var(--m-sidebar-width) ;
      */
  }
  
}

